<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <hc_paybyfinance translate="label">
            <label>Hitachi Capital - Pay By Finance</label>
            <tab>sales</tab>
            <frontend_type>text</frontend_type>
            <sort_order>410</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <hint>
                    <frontend_model>paybyfinance/adminhtml_version</frontend_model>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </hint>
                <general>
                    <label>General</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>10</sort_order>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <minimum_price_product>
                            <label>Minimum retail price per product</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </minimum_price_product>
                        <minimum_price_basket>
                            <label>Minimum basket price</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </minimum_price_basket>
                        <enable_producttypes>
                            <label>Enable products in product type</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>paybyfinance/config_source_catalog_product_type</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable_producttypes>
                        <fixed_deposit translate="label">
                            <label>Fixed deposit only</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fixed_deposit>
                        <include_shipping translate="label">
                            <label>Include shipping in financed amount</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </include_shipping>
                        <!-- This  is on the roadmap and will require 3
                        additional fields to be added to the extension and the
                        eTailer shop before a Y can be passed to PBF. HC-200 -->

                        <!--address_checked translate="label">
                            <label>Address checked</label>
                            <comment>
                                If enabled then this means that the e-tailer has checked the address
                                supplied in the next fields against some form of post-office
                                supplier service such as QAS. The PBF system won't allow any
                                modification to the current address by the user as an anti-fraud
                                measure.
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </address_checked-->
                        <wizard>
                            <label>Responsive credit wizard</label>
                            <comment>The credit wizard works well on all screen sizes, from mobile phones to desktops</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </wizard>
                        <display_in_results>
                            <label>Display Finance offer on category/search pages</label>
                            <comment>If enabled you will require a representative example for compliance sign off, ask your account manager</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_in_results>
                        <invoice_finance>
                            <label>Add finance amount to grand total in invoice</label>
                            <comment>If your payment gateway is using capture and you set to No when the invoice is created the payment gateway will capture the full amount rather than the grand total amount.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </invoice_finance>
                        <referred_email>
                            <label>Order confirmation email for referred finance</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </referred_email>
                        <referred_email_guest>
                            <label>Order confirmation email for referred finance for Guest</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </referred_email_guest>

                        <declined_email>
                            <label>Order confirmation email for failed finance</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </declined_email>
                        <declined_email_guest>
                            <label>Order confirmation email for failed finance for Guest</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </declined_email_guest>
                        <sagepay_status_initiator>
                            <label>Enable Sagepay new orders custom status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sagepay_status_initiator>
                        <sagepay_preauth>
                            <label>Enable Sagepay preauth module</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sagepay_preauth>
                    </fields>
                </general>
                <order_status>
                    <label>Order Status</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>20</sort_order>
                    <fields>
                        <accepted>
                            <label>Finance accepted</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </accepted>
                        <referred>
                            <label>Finance referred</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </referred>
                        <declined>
                            <label>Finance declined</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </declined>
                        <abandoned>
                            <label>Finance abandoned</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </abandoned>
                        <error>
                            <label>Finance error</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </error>
                    </fields>
                </order_status>
                <blocks_info>
                    <label>Blocks Info</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>40</sort_order>
                    <fields>
                        <accepted>
                            <label>Accepted</label>
                            <frontend_type>select</frontend_type>
                            <source_model>paybyfinance/config_source_cms_block</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </accepted>
                        <referred>
                            <label>Referred</label>
                            <frontend_type>select</frontend_type>
                            <source_model>paybyfinance/config_source_cms_block</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </referred>
                        <declined>
                            <label>Declined</label>
                            <frontend_type>select</frontend_type>
                            <source_model>paybyfinance/config_source_cms_block</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </declined>
                        <abandoned>
                            <label>Abandoned</label>
                            <frontend_type>select</frontend_type>
                            <source_model>paybyfinance/config_source_cms_block</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </abandoned>
                        <error>
                            <label>Error</label>
                            <frontend_type>select</frontend_type>
                            <source_model>paybyfinance/config_source_cms_block</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </error>
                    </fields>
                </blocks_info>

                <account>
                    <label>Account Information</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>50</sort_order>
                    <fields>
                        <connectionmode>
                            <label>Connection Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>paybyfinance/config_source_connectionmode</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </connectionmode>
                        <connection_post>
                            <label>createQuote.action</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </connection_post>
                        <connection_notify>
                            <label>notify.action</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </connection_notify>
                        <id1>
                            <label>E-Tailer Account Id1</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </id1>
                        <id2>
                            <label>E-Tailer Account Id2</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </id2>
                        <erroremail>
                            <label>Error E-Mail Address</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </erroremail>
                        <retailername>
                            <label>Retailer Name as appears on FCA register</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </retailername>
                        <tradingname>
                            <label>Trading Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </tradingname>
                    </fields>
                </account>
            </groups>
        </hc_paybyfinance>

        <sagepaysuite>
            <groups>
                <sagepayserver>
                    <fields>
                        <order_status_financed translate="label">
                            <label>New Order Status when Financed</label>
                            <frontend_type>select</frontend_type>
                            <config_path>payment/sagepayserver/order_status_financed</config_path>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </order_status_financed>
                    </fields>
                </sagepayserver>
            </groups>
        </sagepaysuite>
    </sections>
</config>
