<?xml version="1.0"?>
<config>
    <modules>
        <Juno_CustonBaseFeed>
            <version>0.1.0</version>
        </Juno_CustonBaseFeed>
    </modules>
    <global>
        <models>
            <juno_custonbasefeed>
                <class>Juno_CustonBaseFeed_Model</class>
                <resourceModel>juno_custonbasefeed_resource</resourceModel>
            </juno_custonbasefeed>
            <juno_custonbasefeed_resource>
                <class>Juno_CustonBaseFeed_Model_Resource</class>
            </juno_custonbasefeed_resource>
            <googlebasefeedgenerator>
                <rewrite>
                    <generator>Juno_CustonBaseFeed_Model_GoogleBaseFeedGenerator_Generator</generator>
                </rewrite>
            </googlebasefeedgenerator>
        </models>
        <blocks>
            <juno_custonbasefeed>
                <class>Juno_CustonBaseFeed_Block</class>
            </juno_custonbasefeed>
        </blocks>
        <helpers>
            <juno_custonbasefeed>
                <class>Juno_CustonBaseFeed_Helper</class>
            </juno_custonbasefeed>
        </helpers>
        <resources>
            <juno_custonbasefeed_setup>
                <setup>
                    <module>Juno_CustonBaseFeed</module>
                </setup>
            </juno_custonbasefeed_setup>
        </resources>
    </global>
</config>
