<?xml version="1.0" ?>
<config>
    <modules>
        <ECS_IntegrationUtils>
            <version>0.0.2</version>
        </ECS_IntegrationUtils>
    </modules>
    <global>
        <blocks>
            <integrationutils>
                <class>ECS_IntegrationUtils_Block</class>
            </integrationutils>
        </blocks>
        <models>
            <integrationutils>
                <class>ECS_IntegrationUtils_Model</class>
                <resourceModel>integrationutils_resource</resourceModel>
            </integrationutils>
            <integrationutils_resource>
                <class>ECS_IntegrationUtils_Model_Resource</class>
                <entities>
                    <product>
                        <table>ecs_integration_utils_product</table>
                    </product>
                    <stock>
                        <table>ecs_integration_utils_stock</table>
                    </stock>
                    <price>
                        <table>ecs_integration_utils_price</table>
                    </price>
                    <log>
                        <table>ecs_integration_utils_log</table>
                    </log>
                </entities>
            </integrationutils_resource>
        </models>
        <events>
            <catalog_product_edit_action>
                <observers>
                    <integrationutils>
                        <class>ECS_IntegrationUtils_Model_Observer</class>
                        <method>showProductWarning</method>
                    </integrationutils>
                </observers>
            </catalog_product_edit_action>
        </events>
        <resources>
            <integrationutils_setup>
                <setup>
                    <module>ECS_IntegrationUtils</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </integrationutils_setup>
        </resources>
        <helpers>
            <integrationutils>
                <class>ECS_IntegrationUtils_Helper</class>
            </integrationutils>
        </helpers>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ECS_IntegrationUtils before="Mage_Adminhtml">ECS_IntegrationUtils</ECS_IntegrationUtils>
                    </modules>
                </args>
            </adminhtml>
            <integrationutils>
                <use>admin</use>
                <args>
                    <module>ECS_IntegrationUtils</module>
                    <frontName>integrationutils</frontName>
                </args>
            </integrationutils>
        </routers>
    </admin>

    <crontab>
        <jobs>
            <integrationutils_import_product>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>integrationutils/import_product::import</model>
                </run>
            </integrationutils_import_product>
            <integrationutils_import_price>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>integrationutils/import_price::import</model>
                </run>
            </integrationutils_import_price>
            <integrationutils_import_stock>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>integrationutils/import_stock::import</model>
                </run>
            </integrationutils_import_stock>
        </jobs>
    </crontab>
</config>