<?xml version="1.0"?>
<!-- 
 /**
  *
  *
  **/
-->
<config>
	<modules>
		<Juno_Facebook>
			<version>0.9.0</version>
		</Juno_Facebook>
	</modules>
	<global>
		<helpers>
			<facebook>
				<class>Juno_Facebook_Helper</class>
			</facebook>
		</helpers>
		<blocks>
			<facebook>
				<class>Juno_Facebook_Block</class>
			</facebook>
			<adminhtml>
                <rewrite>
                    <newsletter_subscriber_grid>Juno_Facebook_Block_Adminhtml_Newsletter_Subscriber_Grid</newsletter_subscriber_grid>
                </rewrite>
            </adminhtml>
		</blocks>
		<resources>
			<facebook_setup>
				<setup>
					<module>Juno_Facebook</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</facebook_setup>
		</resources>
		<models>
			<facebook>
				<class>Juno_Facebook_Model</class>
			</facebook>
		</models>
        <template>
            <email>
                <facebook_general_emailtemplate_user_facebook_success translate="label" module="facebook">
                    <label>Fangate Success Email</label>
                    <file>facebook/fangate_success.html</file>
                    <type>html</type>
                </facebook_general_emailtemplate_user_facebook_success>
            </email>
        </template>
	</global>
	<frontend>
		<layout>
			<updates>
				<facebook>
					<file>facebooksignup.xml</file>
				</facebook>
			</updates>
		</layout>
		<routers>
			<facebook>
				<use>standard</use>
				<args>
					<module>Juno_Facebook</module>
					<frontName>facebook</frontName>
				</args>
			</facebook>
		</routers>
	</frontend>
	<adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <facebook>
                                            <title>Facebook Page Configuration</title>
                                        </facebook>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
