<?xml version="1.0"?>
<config>
	<modules>
        <CJM_AutoSwatches>
            <version>2.7.0</version>
        </CJM_AutoSwatches>
    </modules>
	<global>
		<models>
            <autoswatches>
                <class>CJM_AutoSwatches_Model</class>
            </autoswatches>
        </models>
		<blocks>
            <autoswatches>
                <class>CJM_AutoSwatches_Block</class>
            </autoswatches>
            <adminhtml>
                <rewrite>
                    <catalog_product_attribute_edit_tabs>CJM_AutoSwatches_Block_Rewrite_Adminhtml_Catalog_Product_Attribute_Edit_Tabs</catalog_product_attribute_edit_tabs>
                    <catalog_product_attribute_edit_form>CJM_AutoSwatches_Block_Rewrite_Adminhtml_Catalog_Product_Attribute_Edit_Form</catalog_product_attribute_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
		<resources>
    		<autoswatches_setup>
      			<setup>
        			<module>CJM_AutoSwatches</module>
      			</setup>
      			<connection>
        			<use>core_setup</use>
      			</connection>
    		</autoswatches_setup>
    		<autoswatches_write>
      			<connection>
        			<use>core_write</use>
      			</connection>
    		</autoswatches_write>
			<autoswatches_read>
      			<connection>
        			<use>core_read</use>
      			</connection>
    		</autoswatches_read>
		</resources>			
		<helpers>
            <autoswatches>
                <class>CJM_AutoSwatches_Helper</class>
            </autoswatches>
        </helpers>
	</global>
	<frontend>
        <routers>
			<AutoSwatches>
                <use>standard</use>
                <args>
                    <module>CJM_AutoSwatches</module>
                    <frontName>autoswatches</frontName>
                </args>
            </AutoSwatches>
        </routers>
		<layout>
            <updates>
                <autoswatches>
					<file>autoswatches.xml</file>
                </autoswatches>
            </updates>
        </layout>
        <translate>
      		<modules>
          		<CJM_AutoSwatches>
                     <files>
                          <default>CJM_AutoSwatches.csv</default>
                     </files>
                </CJM_AutoSwatches>
            </modules>
        </translate>
	</frontend>
	<default>
        <auto_swatches>
            <autoswatchesgeneral>
                <size>25</size>
				<title>Choose an option</title>
				<hidedropdown>1</hidedropdown>
				<dropdowntext>0</dropdowntext>
            </autoswatchesgeneral>
        </auto_swatches>
    </default>
	<adminhtml>
		<layout>
            <updates>
                <autoswatches>
					<file>autoswatches.xml</file>
                </autoswatches>
            </updates>
        </layout>
        <translate>
      		<modules>
          		<CJM_AutoSwatches>
                     <files>
                          <default>CJM_AutoSwatches.csv</default>
                     </files>
                </CJM_AutoSwatches>
            </modules>
        </translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<auto_swatches translate="title" module="autoswatches">
											<title>Auto Swatches Section</title>
											<sort_order>50</sort_order>
										</auto_swatches>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
                <args>
                    <modules>
                         <CJM_AutoSwatches_Override before="Mage_Adminhtml">CJM_AutoSwatches_Override_Admin</CJM_AutoSwatches_Override>
                    </modules>
                </args>
            </adminhtml>
		</routers>
	</admin>
</config>
