<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <HC_PayByFinance>
            <version>2.0.3</version>
        </HC_PayByFinance>
    </modules>
    <global>
        <blocks>
            <paybyfinance>
                <class>HC_PayByFinance_Block</class>
            </paybyfinance>
            <googleanalytics>
                <rewrite>
                    <ga>HC_PayByFinance_Block_GoogleAnalytics_Ga</ga>
                </rewrite>
            </googleanalytics>
        </blocks>

        <helpers>
            <paybyfinance>
                <class>HC_PayByFinance_Helper</class>
            </paybyfinance>
        </helpers>

        <models>
            <paybyfinance>
                <class>HC_PayByFinance_Model</class>
                <resourceModel>paybyfinance_mysql4</resourceModel>
            </paybyfinance>
            <paybyfinance_mysql4>
                <class>HC_PayByFinance_Model_Mysql4</class>
                <entities>
                    <service>
                        <table>paybyfinance_service</table>
                    </service>
                    <log>
                        <table>paybyfinance_log</table>
                    </log>
                </entities>
            </paybyfinance_mysql4>

            <paypal>
                <rewrite>
                    <api_nvp>HC_PayByFinance_Model_Paypal_Api_Nvp</api_nvp>
                    <hostedpro_request>HC_PayByFinance_Model_Paypal_Hostedpro_Request</hostedpro_request>
                </rewrite>
            </paypal>
            <paypaluk>
                <rewrite>
                    <api_nvp>HC_PayByFinance_Model_PaypalUk_Api_Nvp</api_nvp>
                </rewrite>
            </paypaluk>

        </models>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <paybyfinance_enable />
                    </product_attributes>
                </item>
                <totals>
                    <financeamount>
                        <class>paybyfinance/sales_quote_financeamount</class>
                        <after>subtotal,shipping,discount</after>
                        <before>grand_total</before>
                    </financeamount>
                    <paybyfinance_totalcost>
                        <class>paybyfinance/sales_quote_totalcost</class>
                        <after>subtotal,shipping,discount</after>
                        <before>grand_total</before>
                    </paybyfinance_totalcost>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <financeamount>
                        <class>paybyfinance/sales_order_invoice_financeamount</class>
                        <after>subtotal,shipping,discount</after>
                        <before>grand_total</before>
                    </financeamount>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <financeamount>
                        <class>paybyfinance/sales_order_creditmemo_financeamount</class>
                        <after>subtotal,shipping,discount</after>
                        <before>grand_total</before>
                    </financeamount>
                </totals>
            </order_creditmemo>
        </sales>
        <fieldsets>
            <sales_convert_quote_item>
                <paybyfinance_enable>
                    <to_order_item>*</to_order_item>
                </paybyfinance_enable>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <paybyfinance_enable>
                    <to_quote_item>*</to_quote_item>
                </paybyfinance_enable>
            </sales_convert_order_item>
        </fieldsets>
        <resources>
            <paybyfinance_setup>
                <setup>
                    <module>HC_PayByFinance</module>
                    <class>HC_PayByFinance_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </paybyfinance_setup>
            <paybyfinance_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </paybyfinance_write>
            <paybyfinance_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </paybyfinance_read>
        </resources>

        <events>
            <paybyfinance_services_modified>
                <observers>
                    <paybyfinance>
                        <type>singleton</type>
                        <class>paybyfinance/observer</class>
                        <method>enterpriseCacheClear</method>
                    </paybyfinance>
                </observers>
            </paybyfinance_services_modified>
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <paybyfinance_checkout_cart_index>
                        <type>singleton</type>
                        <class>paybyfinance/sessionobserver</class>
                        <method>predispatchCheckoutCartIndex</method>
                    </paybyfinance_checkout_cart_index>
                </observers>
            </controller_action_predispatch_checkout_cart_index>
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <paybyfinance_checkout_onepage_index>
                        <type>singleton</type>
                        <class>paybyfinance/sessionobserver</class>
                        <method>predispatchCheckoutOnepageIndex</method>
                    </paybyfinance_checkout_onepage_index>
                </observers>
            </controller_action_predispatch_checkout_onepage_index>
            <checkout_onepage_controller_success_action>
                <observers>
                    <paybyfinance_checkout_success_action>
                        <type>singleton</type>
                        <class>paybyfinance/observer</class>
                        <method>checkoutSuccess</method>
                    </paybyfinance_checkout_success_action>
                </observers>
            </checkout_onepage_controller_success_action>
            <sales_convert_quote_address_to_order>
                <observers>
                    <paybyfinance_salesquoteaddressconvert>
                        <type>singleton</type>
                        <class>paybyfinance/observer</class>
                        <method>convertQuoteAddressToOrder</method>
                    </paybyfinance_salesquoteaddressconvert>
                </observers>
            </sales_convert_quote_address_to_order>
            <sales_quote_item_set_product>
                <observers>
                    <paybyfinance_enable>
                        <class>paybyfinance/observer</class>
                        <method>salesQuoteItemSetPaybyfinanceEnable</method>
                    </paybyfinance_enable>
                </observers>
            </sales_quote_item_set_product>
            <paybyfinance_quote_financeamount_collect_before>
                <observers>
                    <paybyfinance_collectafter>
                        <type>singleton</type>
                        <class>paybyfinance/sessionobserver</class>
                        <method>collectAfter</method>
                    </paybyfinance_collectafter>
                </observers>
            </paybyfinance_quote_financeamount_collect_before>
            <sales_order_save_after>
                <observers>
                    <paybyfinance_salesordersaveObserver>
                        <type>singleton</type>
                        <class>paybyfinance/observer</class>
                        <method>orderAfterSave</method>
                    </paybyfinance_salesordersaveObserver>
                </observers>
            </sales_order_save_after>
            <sales_order_shipment_save_after>
                <observers>
                    <paybyfinance_salesordershipmentsaveObserver>
                        <type>singleton</type>
                        <class>paybyfinance/observer</class>
                        <method>orderShipmentAfterSave</method>
                    </paybyfinance_salesordershipmentsaveObserver>
                </observers>
            </sales_order_shipment_save_after>
            <sales_order_payment_cancel>
                <observers>
                    <paybyfinance_salesorderCancel>
                        <type>singleton</type>
                        <class>paybyfinance/observer</class>
                        <method>orderPaymentCancel</method>
                    </paybyfinance_salesorderCancel>
                </observers>
            </sales_order_payment_cancel>
            <paypal_prepare_line_items>
                <observers>
                    <hc_paypalpreparelineitemsObserver>
                        <type>singleton</type>
                        <class>paybyfinance/observer</class>
                        <method>paypalPrepareLineItems</method>
                    </hc_paypalpreparelineitemsObserver>
                </observers>
            </paypal_prepare_line_items>
            <paybyfinance_status_controller_accepted>
                <observers>
                    <paybyfinance_status_accepted>
                        <type>singleton</type>
                        <class>paybyfinance/observer</class>
                        <method>googleAnalyticsSetOrderId</method>
                    </paybyfinance_status_accepted>
                </observers>
            </paybyfinance_status_controller_accepted>
            <paybyfinance_status_controller_referred>
                <observers>
                    <paybyfinance_status_referred>
                        <type>singleton</type>
                        <class>paybyfinance/observer</class>
                        <method>googleAnalyticsSetOrderId</method>
                    </paybyfinance_status_referred>
                </observers>
            </paybyfinance_status_controller_referred>
    <!-- Sagepay OrderStatus Initiator -->
            <sales_order_payment_place_end>
                <observers>
                    <hc_sagepay_orderstatus_initiator>
                        <class>paybyfinance/sagepayorderstatusobserver</class>
                        <method>salesOrderPaymentPlaceEnd</method>
                    </hc_sagepay_orderstatus_initiator>
                </observers>
            </sales_order_payment_place_end>
            <sagepaysuite_get_configvalue_order_status>
                <observers>
                    <hc_sagepaysuite_get_configvalue_order_status>
                        <type>singleton</type>
                        <class>paybyfinance/sagepayorderstatusobserver</class>
                        <method>sagepaysuiteGetConfigvalueOrderStatus</method>
                    </hc_sagepaysuite_get_configvalue_order_status>
                </observers>
            </sagepaysuite_get_configvalue_order_status>
    <!-- /Sagepay OrderStatus Initiator -->

    <!-- Sagepay PreAuth -->
            <sagepaysuite_get_configvalue_payment_action>
                <observers>
                    <hc_sagepaypreauth>
                        <type>singleton</type>
                        <class>paybyfinance/sagepaypreauthobserver</class>
                        <method>getPaymentAction</method>
                    </hc_sagepaypreauth>
                </observers>
            </sagepaysuite_get_configvalue_payment_action>
            <sales_order_save_after>
                <observers>
                    <hc_sagepaypreauth>
                        <type>singleton</type>
                        <class>paybyfinance/sagepaypreauthobserver</class>
                        <method>orderSaveAfter</method>
                    </hc_sagepaypreauth>
                </observers>
            </sales_order_save_after>
    <!-- /Sagepay PreAuth -->
        </events>
        <template>
            <email>
                <hc_paybyfinance_general_declined_email translate="label" module="paybyfinance">
                    <label>New Order - PaybyFinance failed</label>
                    <file>paybyfinance/order_declined.html</file>
                    <type>html</type>
                </hc_paybyfinance_general_declined_email>
                <hc_paybyfinance_general_declined_email_guest translate="label" module="paybyfinance">
                    <label>New Order for Guest  - PaybyFinance failed</label>
                    <file>paybyfinance/order_declined_guest.html</file>
                    <type>html</type>
                </hc_paybyfinance_general_declined_email_guest>
                <hc_paybyfinance_general_referred_email translate="label" module="paybyfinance">
                    <label>New Order - PaybyFinance referred</label>
                    <file>paybyfinance/order_referred.html</file>
                    <type>html</type>
                </hc_paybyfinance_general_referred_email>
                <hc_paybyfinance_general_referred_email_guest translate="label" module="paybyfinance">
                    <label>New Order for Guest  - PaybyFinance referred</label>
                    <file>paybyfinance/order_referred_guest.html</file>
                    <type>html</type>
                </hc_paybyfinance_general_referred_email_guest>
            </email>
        </template>
        <pdf>
            <totals>
                <financeamount>
                    <title>Finance Amount</title>
                    <source_field>finance_amount</source_field>
                    <model>paybyfinance/sales_pdf_financeamount</model>
                    <amount_prefix>-</amount_prefix>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                </financeamount>
            </totals>
        </pdf>
    </global>

    <frontend>
        <layout>
            <updates>
                <hc_paybyfinance>
                    <file>paybyfinance.xml</file>
                </hc_paybyfinance>
            </updates>
        </layout>
        <routers>
            <hc_paybyfinance>
                <use>standard</use>
                <args>
                    <module>HC_PayByFinance</module>
                    <frontName>paybyfinance</frontName>
                </args>
            </hc_paybyfinance>
        </routers>
        <events>
            <catalog_product_collection_load_after>
                <observers>
                    <hc_paybyfinance_product_collection_load_after>
                        <type>singleton</type>
                        <class>paybyfinance/observer</class>
                        <method>collectionLoadAfter</method>
                    </hc_paybyfinance_product_collection_load_after>
                </observers>
            </catalog_product_collection_load_after>
        </events>
    </frontend>

    <adminhtml>
        <layout>
            <updates>
                <hc_paybyfinance>
                    <file>paybyfinance.xml</file>
                </hc_paybyfinance>
            </updates>
        </layout>
        <events>
            <payment_info_block_prepare_specific_information>
                <observers>
                    <hc_payment_info_specifics>
                        <class>paybyfinance/observer</class>
                        <method>getPaymentInfo</method>
                    </hc_payment_info_specifics>
                </observers>
            </payment_info_block_prepare_specific_information>
        </events>
    </adminhtml>

    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <paybyfinance before="Mage_Adminhtml">HC_PayByFinance_Adminhtml</paybyfinance>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <default>
        <hc_paybyfinance>
            <general>
                <active>1</active>
                <minimum_price_product>500</minimum_price_product>
                <minimum_price_basket>500</minimum_price_basket>
                <enable_producttypes>simple</enable_producttypes>
                <fixed_deposit>0</fixed_deposit>
                <include_shipping>1</include_shipping>
                <address_checked>0</address_checked>
                <wizard>0</wizard>
                <display_in_results>0</display_in_results>
                <invoice_finance>0</invoice_finance>
                <declined_email>hc_paybyfinance_general_declined_email</declined_email>
                <declined_email_guest>hc_paybyfinance_general_declined_email_guest</declined_email_guest>
                <referred_email>hc_paybyfinance_general_referred_email</referred_email>
                <referred_email_guest>hc_paybyfinance_general_referred_email_guest</referred_email_guest>
            </general>
            <order_status>
                <accepted>finance_accepted</accepted>
                <referred>finance_referred</referred>
                <declined>finance_declined</declined>
                <abandoned>finance_abandoned</abandoned>
                <error>finance_error</error>
            </order_status>
            <blocks_info>
                <information>finance_information</information>
            </blocks_info>
            <account>
                <connectionmode>test</connectionmode>
                <connection_post></connection_post>
                <connection_notify></connection_notify>
                <id1></id1>
                <id2></id2>
                <erroremail></erroremail>
                <retailername>{Retailer Name as appears on FCA register}</retailername>
                <tradingname>trading as {Trading Name}</tradingname>
            </account>
        </hc_paybyfinance>
    </default>
</config>
