<?xml version="1.0"?>
<config>
	<modules>
		<Juno_Banners>
			<version>0.1.1</version>
		</Juno_Banners>
	</modules>
	<global>
		<helpers>
			<banners>
				<class>Juno_Banners_Helper</class>
			</banners>
		</helpers>
		<blocks>
			<banners>
				<class>Juno_Banners_Block</class>
			</banners>
		</blocks>
		<models>
			<banners>
				<class>Juno_Banners_Model</class>
				<resourceModel>banners_mysql4</resourceModel>
			</banners>
			<banners_mysql4>
				<class>Juno_Banners_Model_Mysql4</class>
				<entities>
					<image>
						<table>jbanners_image</table>
					</image>
				</entities>
			</banners_mysql4>
		</models>
		<resources>
			<banners_setup>
				<setup>
					<module>Juno_Banners</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</banners_setup>
			<banners_read>
				<connection>
					<use>core_read</use>
				</connection>
			</banners_read>
			<banners_write>
				<connection>
					<use>core_write</use>
				</connection>
			</banners_write>
		</resources>
	</global>
	<frontend>
		<layout>
			<updates>
				<banners>
					<file>jbanners.xml</file>
				</banners>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<banners>
				<use>admin</use>
				<args>
					<module>Juno_Banners</module>
					<frontName>jbanners</frontName>
				</args>
			</banners>
		</routers>
	</admin>	
	<adminhtml>
		<layout>
			<updates>
				<banners>
					<file>jbanners.xml</file>
				</banners>
			</updates>
		</layout>
		<menu>
			<cms>
				<children>
					<jbanners translate="title" module="banners">
						<title>Banners</title>
						<action>banners/adminhtml_banner</action>
						<sort_order>999</sort_order>
					</jbanners>
				</children>
			</cms>
		</menu>
	</adminhtml>
</config>
